/* início Header */
header {
    padding: 0 100px 0 100px;
    width: 100%;
    background-color: #342d59;
    min-height: 80px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 0;
}

header img {
    /* width: 14%;
    height: 70%; */
    height: 70px;
    width: auto;
    display: block;
    flex-shrink: 0;
    /* width: 140px;
    aspect-ratio: 16/8;
    align-items: center; */
}

.infos-header ul {
    list-style: none;
    display: flex;
    display: flex;
    align-items: center;
    justify-content: center;
}

.infos-header ul li {
    padding-right: 60px;
}

.infos-header ul li a {
    cursor: pointer;
    color: white;
    text-decoration: none;
    font-weight: 600;
    transition: transform 0.3s ease;
    display: inline-block;
    font-size: 20px;
    white-space: nowrap;
}

.infos-header ul li a:hover {
    transform: scale(1.07);
}

/* fim Header */